body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a.wiki {
    border-bottom: 2px dotted #3fc160;
    font-weight: 400;
    color: #111;
}

.quicklinks {
    margin-top: 25px;

    a {
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid #3fc160;
        color: #3fc160;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.1s;

        &:hover {
            background: #3fc160;
            color: white;
            text-decoration: none;
        }
    }
}
